.randomPlanet-container {
	background: linear-gradient(to right, rgb(33 33 33), rgb(61, 61, 61), rgb(33 33 33));
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 30px;
	border-radius: 5px;
	padding: 0.5rem;
	margin-bottom: 40px;
}
.planetInfo-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	row-gap: 20px;
}
.planet-img {
	max-width: 40%;
	max-height: 200px;
	height: auto;
	object-fit: cover;
	border-radius: 5px;
}
.planet-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.planetInfo-text {
	padding: 5px 10px;
	border-top: 1px solid #868686;
	margin-bottom: 0;
}
.planetInfo-text span {
	padding-left: 10px;
	font-weight: 900;
	color: rgb(194, 194, 194);
}
