.person-container {
	background: rgb(67 67 67);
	flex: 1 1 310px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 30px;
	border-radius: 5px;
	margin-bottom: 40px;
	padding: 0.5rem;
}
.person-img {
	background: #ffff;
	max-width: 288px;
	height: auto;
	border-radius: 5px;
	
}
.person-name {
	margin-bottom: 25px;
}
.person-info {
	padding: 5px 10px;	
	border-bottom: 1px solid #868686;
}

