.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.header-title {
	color: aliceblue;
	margin-bottom: 0;
}
.nav-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 30px;
	margin-bottom: 0;
	font-size: 1.3rem;
}
.nav-link {
	color: #1ab8b8 !important;
}
